ion-header {
    text-align: center;
}
ion-header img {
    padding-top: 3em;
}
.signup-button {
    background-color: #fff;
    border: 3px solid #000; 
    font-size: 1.6rem;
}

.fullheight {
    height: 70%;
}
  
.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-icon {
    font-size: 64px;
}

.ion-3x {
    position: relative;
    font-size: 3em;
    text-align: center;
}
  
ion-footer div {
    background-color: #fff;
    text-align: center;
}

ion-footer a {
    color: #000;
}

ion-footer ion-row {
    border: 4px solid #000;
}

ion-footer ion-col.middle {
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.colorbox {
    display: inline-block;
    width: 6em;
    height: 2em;
    margin-bottom: 2px;
}
    
.bi-caret-down {
    margin: 15px 10px 0 15px;     
}
    
.more-colors {
    margin-top:20px;
}
    
.icon-inner {
    display: inline-block;
    height: 2em;
    widows: 2em;
}

ion-content ion-icon {
    display: inline-block !important;
}

.user-text {
    line-height: 2em;
    padding-bottom: 3em;
    vertical-align: top;
}