<ion-header class="ion-padding ion-no-border">
  <img class="center" src="assets/images/logo.png">
</ion-header>

<ion-content class="ion-padding">
  <span *ngIf="!user">
    <div class="ion-text-center fullheight xc">
      <button ion-button outline class="signup-button ion-padding" (click)="createUser()">Aanmelden</button>
    </div>
  </span>
  <div class="ion-text-center">
    <span *ngIf="user">
      <div *ngFor="let item of users">
        <span class="user-text">{{item.id}}) </span>
        <span *ngIf="item.colors.length > 0">
          <div class="colorbox" [style.backgroundColor]="item.colors[0].color"> </div>
          <span class="user-text">
            <ion-icon [style.display]="item.colors.length > 1 ? 'block' : 'none'" (click)="showColors(item.id)"
              name="arrow-down"></ion-icon>
          </span>
          <span class="user-text" id="randomizer-{{item.id}}" hidden="true">
            <ion-icon name="refresh" (click)="randomColors(item.id)"></ion-icon>
          </span>
        </span>
        <div id="showColors-{{item.id}}" hidden="true" class="ion-text-center more-colors">
          <div *ngFor="let userColor of item.colors; let i = index;">
            <div *ngIf="i > 0;">
              <div class="colorbox" [style.backgroundColor]="userColor.color"> </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</ion-content>

<ion-footer *ngIf="user" class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="">
        <div>
          <a routerLink="/user-details">
            <ion-icon name="color-palette-sharp" class="ion-3x"></ion-icon>
          </a>
        </div>
      </ion-col>
      <ion-col class="middle">
        <div>
          <a routerLink="/users">
            <ion-icon name="people-sharp" class="ion-3x"></ion-icon>
          </a>
        </div>
      </ion-col>
      <ion-col class="">
        <div>
          <a routerLink="/user-settings">
            <ion-icon name="settings-sharp" class="ion-3x"></ion-icon>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>